<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.planttech.mapper.ArticleMapper">

	<!-- 객체 -->
	<resultMap type="com.planttech.domain.Article" id="article">
		<result column="ARTICLE_NO" property="articleNo"></result>
		<result column="USER_NO" property="userNo"></result>
		<result column="PLANT_NO" property="plantNo"></result>
		
		<result column="ARTICLE_TITLE" property="articleTitle"></result>
		<result column="ARTICLE_SUBJECT" property="articleSubject"></result>
		<result column="ARTICLE_CONTENT" property="articleContent"></result>
		
		<result column="ARTICLE_PRODUCT_PRICE" property="articleProductPrice"></result>
		
		<result column="ARTICLE_CRAETETIME" property="articleCreatetime"></result>
		<result column="ARTICLE_MODIFYTIME" property="articleModifytime"></result>
	</resultMap>
	
	<!-- 객체정리 끝ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->

	<select id="selectArticleList" parameterType="com.planttech.domain.Page" resultMap="article">
		SELECT 	  ARTICLE_NO
				, USER_NO
				, PLANT_NO
				, ARTICLE_TITLE
				, ARTICLE_SUBJECT
				, ARTICLE_CONTENT
				, ARTICLE_PRODUCT_PRICE
				, ARTICLE_CRAETETIME
				, ARTICLE_MODIFYTIME 
		  FROM 	  ARTICLE
		 WHERE 	  ARTICLE_ACTIVE = 1
	<if test="searchKeyword != null">
		   AND 	  ARTICLE_TITLE LIKE CONCAT('%',#{searchKeyword},'%')
	</if>	
	<if test="tab == '최신순' or tab == null">
	  ORDER BY    ARTICLE_CRAETETIME DESC
	</if>
	     LIMIT
	 <choose>
	 	<when test="beginPage != 0 and beginPage != null">
	 		 	  #{beginPage}
	 	</when>
	 	<otherwise>
	 			  0
	 	</otherwise>
	 </choose>
	 <choose>
	 	<when test="pageSize != 0 and pageSize != null">
	 		 	  , #{pageSize}
	 	</when>
	 	<otherwise>
	 		 	  , 10
	 	</otherwise>
	 </choose>
	</select>
	
	<insert id="insertArticle" parameterType="com.planttech.domain.Article" useGeneratedKeys="true" keyProperty="articleNo">
		INSERT INTO 
		    ARTICLE ( USER_NO
					, PLANT_NO
					, ARTICLE_TITLE
					, ARTICLE_SUBJECT
					, ARTICLE_CONTENT
					, ARTICLE_PRODUCT_PRICE	) 			
			VALUES (  #{userNo}
					, #{plantNo}
					, #{articleTitle}
					, #{articleSubject}
					, #{articleContent}
					, #{articleProductPrice} )			
	</insert>
	
	<update id="updateArticle" parameterType="com.planttech.domain.Article" useGeneratedKeys="true" keyProperty="articleNo">
		UPDATE 	ARTICLE 
		   SET 	ARTICLE_TITLE 			= #{articleTitle}
		   	  , ARTICLE_SUBJECT			= #{articleSubject}
		   	  , ARTICLE_CONTENT			= #{articleContent}
		   	  , PLANT_NO				= #{plantNo}
		   	  , ARTICLE_PRODUCT_PRICE 	= #{articleProductPrice}
    	 WHERE 	USER_NO 				= #{userNo} 
    	   AND  ARTICLE_NO 				= #{articleNo} 
    	   AND  ARTICLE_ACTIVE			= 1
	</update>
	
	
	<update id="deleteArticle" parameterType="com.planttech.domain.Article" useGeneratedKeys="true" keyProperty="articleNo">
		UPDATE 	ARTICLE 
		   SET 	ARTICLE_ACTIVE 		= 0 
    	 WHERE 	USER_NO = #{userNo} AND ARTICLE_NO = #{articleNo}				
	</update>

	
</mapper>