<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.planttech.mapper.BookmarkMapper">

	<resultMap type="com.planttech.domain.ai.PlantColor" id="plantColor">
		<result column="USER_BOOKMARK_NO" property="bookrmarkNo" />
		<result column="PLANT_NO" property="userNo" />
		<result column="PRODUCT_NO" property="plantNo" />
		<result column="PLANT_SCORE_NO" property="plantScoreNo" />
		<result column="USER_BOOKMARK_TYPE" property="bookmarkType"/>
		<result column="USER_BOOKMARK CREATETIME" property="bookmarkCreatetime"/>
	</resultMap>
	<!-- 객체정리 끝ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->


	<select id="selectUserBookmarkList" parameterType="com.planttech.domain.user.User" resultType="map">
		SELECT    PLANT_COLOR_NO
				, WH_PLANT_NO
				, PLANT_COLOR_GRADE
				, PLANT_COLOR_CREATETIME
		  FROM 	  USER_BOOKMARK 
  		 WHERE	  USER_NO
	</select>
	
	<insert id="isnertUserBookmarkList" parameterType="com.planttech.domain.user.UserBookmark" useGeneratedKeys="true" keyProperty="bookrmarkNo">
		INSERT INTO 
	  USER_BOOKMARK ( USER_NO
	  				, PLANT_NO
		   			, PLANT_SCORE_NO
		   			, USER_BOOKMARK_TYPE	) 			
			VALUES (  #{userNo}
					, #{plantNo}
					, #{plantScoreNo}
					, #{bookmarkType}		)			
	</insert>
	
</mapper>