<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.planttech.mapper.PlantColorMapper">

	<!-- 객체 -->
	<resultMap type="com.planttech.domain.ai.PlantColor" id="plantColor">
		<result column="PLANT_COLOR_NO" property="plantColorNo"/>
		<result column="WH_PLANT_NO" property="plantWarehouseNo"/>
		<result column="PLANT_COLOR_GRADE" property="plantColorGrade"/>
		<result column="PLANT_COLOR_PIC" property="plantColorPic"/>
		<result column="PLANT_COLOR_CREATETIME" property="plantColorCreatetime"/>
	</resultMap>
	<!-- 객체정리 끝ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->


	<select id="selectPlantColorList" parameterType="com.planttech.domain.search.Page" resultMap="plantColor">
	<![CDATA[
		SELECT    PLANT_COLOR_NO
				, WH_PLANT_NO
				, PLANT_COLOR_GRADE
				, CONCAT(PLANT_COLOR_PIC1, PLANT_COLOR_PIC2, PLANT_COLOR_PIC3) AS PLANT_COLOR_PIC
				, PLANT_COLOR_CREATETIME
		  FROM 	PLANT_COLOR 
  	]]>
  		<if test="plantWarehouseNo != null">
		 WHERE	WH_PLANT_NO = #{plantWarehouseNo}
		</if>	
		<if test="tab == '최신순' or tab == null">
	  ORDER BY    PLANT_COLOR_CREATETIME DESC
		</if>
	     LIMIT	  <choose>
				 	<when test="beginPage != 0 and beginPage != null">
				 		 	  #{beginPage}
				 	</when>
				 	<otherwise>
				 			  0
				 	</otherwise>
				 </choose>
				 ,
	 			 <choose>
				 	<when test="pageSize != 0 and pageSize != null">
				 		 	   #{pageSize}
				 	</when>
				 	<otherwise>
				 		 	   1
				 	</otherwise>
				 </choose>
	</select>
	
	<insert id="insertPlantColor" parameterType="com.planttech.domain.ai.PlantColor" useGeneratedKeys="true" keyProperty="plantColorNo">
		INSERT INTO 
		PLANT_COLOR ( WH_PLANT_NO
					, PLANT_COLOR_PIC1
					, PLANT_COLOR_PIC2
					, PLANT_COLOR_PIC3
		   			, PLANT_COLOR_GRADE 	) 			
			VALUES (  #{plantWarehouseNo}
					, #{plantColorPic1}			
					, #{plantColorPic2}			
					, #{plantColorPic3}			
					, #{plantColorGrade}	)			
	</insert>
	
</mapper>