<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.planttech.mapper.PlantSensorAverageMapper">

	<!-- 객체 -->
	<resultMap type="com.planttech.domain.ai.PlantSensorAverage" id="plantSensorAverage">
		<result column="PLANT_SR_NO" property="plantSensorAverageNo"/>
		<result column="PLANT_NO" property="plantNo"/>
		<result column="WH_PLANT_NO" property="warehousePlantNo"/>
		<result column="SR_DHT_NO" property="dhtNo"/>
		<result column="SR_PR_NO" property="photoRegistorNo"/>
		<result column="SR_WT_NO" property="waterTempNo"/>

		<result column="PLANT_SR_AVG_HUMI" property="humiAverage"/>
		<result column="PLANT_SR_AVG_TEMP" property="tempAverage"/>
		<result column="PLANT_SR_AVG_WT" property="waterTempAverage"/>
		<result column="PLANT_SR_AVG_LIGHT" property="lightAverage"/>
		
		<result column="PLANT_SR_AVG_SEASON" property="averageSeason"/>
		<result column="PLANT_SR_AVG_DAY" property="avergaeDay"/>
		<result column="PLANT_SR_AVG_TIMESTAMP" property="plantSensorAverageTimestamp" />
		
		<result column="PLANT_SR_AVG_CREATETIME" property="plantSensorAverageCreatetime" />
	</resultMap>
	
	<!-- 객체정리 끝ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->

	<select id="selectPlantSensorAverageList" parameterType="com.planttech.domain.search.Page" resultMap="plantSensorAverage">
		<![CDATA[ 
		SELECT	  PLANT_SR_AVG_NO
				, PLANT_NO
				, WH_PLANT_NO
				, SR_DHT_NO
				, SR_PR_NO
				, SR_WT_NO
				, PLANT_SR_AVG_HUMI
				, PLANT_SR_AVG_TEMP
				, PLANT_SR_AVG_WT
				, PLANT_SR_AVG_LIGHT
				, CASE
						WHEN MONTH(PLANT_SR_AVG_TIMESTAMP) < 6
						THEN 'spring'
						WHEN MONTH(PLANT_SR_AVG_TIMESTAMP) > 5 AND MONTH(PLANT_SR_AVG_TIMESTAMP) < 9
						THEN 'summer'
						WHEN  MONTH(PLANT_SR_AVG_TIMESTAMP) > 8 AND MONTH(PLANT_SR_AVG_TIMESTAMP) < 12
						THEN 'fall'
						ELSE 'winter'
				   END 	AS PLANT_SR_AVG_SEASON 
				, PLANT_SR_AVG_DAY
				, PLANT_SR_AVG_TIMESTAMP
				, PLANT_SR_AVG_CREATETIME
		  FROM 	PLANT_SR_AVG
	  ORDER BY 	PLANT_SR_AVG_CREATETIME DESC
	  	 LIMIT 	#{beginPage}, #{pageSize}
  	 	]]>
	</select>
	
	<insert id="insertPlantSensorAverage" parameterType="com.planttech.domain.ai.PlantSensorAverage" useGeneratedKeys="true" keyProperty="plantSensorAverageNo">
		INSERT INTO
	   PLANT_SR_AVG ( PLANT_NO
					, WH_PLANT_NO
					, SR_DHT_NO
					, SR_PR_NO
					, SR_WT_NO
					, PLANT_SR_AVG_HUMI
					, PLANT_SR_AVG_TEMP
					, PLANT_SR_AVG_WT
					, PLANT_SR_AVG_LIGHT
					, PLANT_SR_AVG_DAY
					, PLANT_SR_AVG_TIMESTAMP ) 			
			VALUES (  #{plantNo}
					, #{warehousePlantNo}
					, #{dhtNo}
					, #{photoRegistorNo}
					, #{waterTempNo}
					, #{humiAverage}
					, #{tempAverage}
					, #{waterTempAverage}
					, #{lightAverage}
					, #{avergaeDay} 			
					, #{plantSensorAverageTimestamp} )			
	</insert>
	
	
</mapper>