<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.planttech.mapper.TestMapper">

	<resultMap type="com.planttech.domain.Plant" id="Plant">
		<result column="PLANT_NO" property="plantNo"></result>
		<result column="PLANT_NM" property="plantName"></result>
	</resultMap>


	<!-- 객체정리 끝ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	
	
	<select id="selectPlant" resultMap="Plant">
		SELECT  PLANT_NO
			  , PLANT_NM
		  FROM 	PLANT 
  	 	 LIMIT 	0, 100
	</select>

</mapper>