<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.planttech.mapper.DHT11Mapper">

	<!-- 객체 -->
	<resultMap type="com.planttech.domain.Dht11" id="DHT11">
		<result column="SEQ" property="seq"></result>
		<result column="DATETIME" property="datetime"></result>
		<result column="TEMPERATURE" property="temperature"></result>
		<result column="HUMIDITY" property="humidity"></result>
		<result column="HI" property="hi"></result>
	</resultMap>


	<!-- 객체정리 끝ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->

	<select id="selectDHT11List" resultMap="DHT11">
		SELECT * FROM DHT11 LIMIT 0,10
	</select>

	
	<insert id="insertDHT11" parameterType="com.planttech.domain.Dht11">
		INSERT INTO DHT11 (	  TEMPERATURE
							, HUMIDITY
							, HI				) 			
					VALUES (  #{temperature}
							, #{humidity}
							, #{hi} 			)
	</insert>
	

</mapper>