<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.planttech.mapper.TestMapper">

	<!-- InquiryHistoryAnswer 객체 -->
	<resultMap type="com.planttech.domain.Plant" id="Plant">
		<result column="plant_id" property="plantId"></result>
		<result column="plant_name" property="plantName"></result>
	</resultMap>


	<!-- 객체정리 끝ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->

	<!-- 유저 활동지 통계 -->
	<select id="selectPlant" resultMap="Plant">
		SELECT * FROM plant LIMIT 0,100
	</select>

</mapper>